@import "../../vars.scss";

.project {
  text-align: center;
  width: 31.8%;
  background: $card-color;
  padding: 20px 40px;
  border: 1px solid $border-color;
  border-radius: 10px;
  &__item {
    &-go {
      background: $success-color;
      border: 1px solid $border-color;
      padding: 3px 15px;
      border-radius: 5px;
      &:hover {
        color: white;
        border-color: $borderHover-color;
      }
    }

    h2 {
      font-size: 24px;
    }
  }
  &__stats {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    h5 {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      span {
        font-size: 12px;
        color: $info-color;
        border: 1px solid $border-color;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
